@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  font-family: "Roboto", sans-serif;
}
* h1{
  display: inline-block;
  color:darkblue;
  border-bottom: 2px solid rgb(193, 190, 190);
  margin:10px 0 20px 0;
}
.banner {
  width: 100%;
  height: 100vh;

}
.bannerimg{
  width: 100%;
  height: 100vh;
  background-image: url("assets/12818.jpg");
  background-size:cover;
  background-position:end;
}
.bannertext {
  width: 100%;
  height:100%;
  padding-bottom: 200px;
  padding-left: 80px;
}
.logo{
  width:190px;
  height: 90px;
  padding: 0;
}
.build{
  width: 250px;
}
.maintext::after {
  display: inline-block;
  width: 200px !important;
  padding-left: 200px;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: slidingt;
  content: "";
  font-size: 55px;
  font-weight: 700;
  right: 0;
  padding: 0;
}

@keyframes slidingt{
  0% {
    content: "Full Stack";
    color: #B1B493;
  }
  50% {
    content: "Full Stack Web";
    color: #B1B493;
  }
  100% {
    content: "Full Stack Web Developer";
    color: #B1B493;
  }
  }
nav{
  background-color:#00032C;
  box-shadow: 0 1px 5px rgb(50, 50, 50);
}
nav i{
  background-color: white;
  border: 2px solid white;
  font-size: 30px;
}
.nav-link{
    height:auto;
    font-size: 18px;
    background-color: transparent;
    color: white;
    margin-left: 20px;
    transition-duration: 0.10s;
    text-align: center;

}
.nav-link:hover{
    color:darkslateblue;
    background-color: white;
}



/*About Me*/  
.aboutme{
  width: auto;
  padding: 25px;
}
.aboutme p{
  text-align: justify;
  line-height: 30px;
}
.aboutme li{
  list-style: none;
  line-height: 45px;
  padding: 0;
  color: #8a8c79;
  font-size: 17px;
}
.aboutme span{
  padding-right:5px;
  font-size: 18px;
  font-weight: 700;
  color: black;
}
/*Skills*/
.skills{
  background-color: #F8F9FA;
}
.skill{
  width: auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/working-6808204.png");
  background-position:right;
  background-size: end;
  background-blend-mode: hard-light;
  color: white;
  box-shadow: 5px 5px 12px rgb(0, 0, 0,0.1), -10px -10px 10px white;

  margin:10px ;
  padding: 0px;
  margin-top:10px ;
  border-radius: 5px;
}
.skill i{
  color: white;
  font-size: 60px;
}
.skill .skilltext{
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill .jqueryi{
  -ms-ime-mode: active;
}
/*Services*/
.services h4{
  color: rgb(214, 36, 36);
}
.services p{
  text-align: justify;
  line-height: 30px;
}

/*Projects*/
.projects{
  height: 220px;
  border: 1px solid rgb(210, 207, 207);
  margin-bottom:15px ;
  padding: 0px;
  margin: 5px;
  border-radius: 15px;
  transition-duration: 0.25s;
}
.projects:hover{
  transform: scaleY(1.1);
  box-shadow: 1px 1px 5px grey;
}

.projects img{
  padding-top: 20px;
  transition-duration: 0.50s;
}
.projects img:hover{
  transform: scaleX(1.1);
}
.projects{
  text-align: center;
  margin-bottom: 80px;
}
.projects .text{
  color: black;
  text-align: center;
  padding-top: 25px;
}
.contactimg img{
  border-radius: 5px;
}
/*contact*/
#contact{
  background-color:#F8F9FA;
  box-shadow: 1px 1px 10px grey;
}
.contactimg {
  background-image: url("assets/working-6808204.png");
  background-size: cover;
  background-position:30%;
  height: 100%;
}
#nameStatus,
#emailStatus,
#mobileStatus{
  color: red;
  height: 10px;
  padding-bottom: 15px;
}
/*Footer*/
footer{
  height: auto;
  background-color: #232931;
  color: white;
}
footer h5{
  border-bottom: 2px solid #404b5a;
  text-align: center;
  padding-bottom: 10px;
}
.socialMedia li{
  display: inline-block;
  margin:0 20px;
  width: 20px;
}
footer ul{
  padding: 0 !important;
  list-style: none;
  line-height: 30px;
} 
.socialMedia ul{
  
  display: flex;
  justify-content: space-around;
}
.socialMedia i{
  padding: 0 !important;
}
.quicklinks li a{
  padding: 5px 20px;
  transition-duration: 0.20s;
}
footer a{
  text-decoration: none;
  color:white;
  font-size: 16px;
  transition-duration: 0.20s;
}
footer i{
  transition-duration: 0.20s;
  display: inline-block;
  border-radius: 7px;
}
footer i:hover, 
.quicklinks li a:hover{
  color: darkblue;
  background-color: white;
}
